/**
 * Switch Component Styles
 */

.mdk-switch {
  display: inline-flex;
  height: 1.5rem;
  width: 2.75rem;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid transparent;
  transition: colors 0.2s;

  &:focus-visible {
    outline: none;
    ring: 2px solid hsl(var(--ring));
    ring-offset: 2px;
    ring-offset-color: hsl(var(--background));
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[data-state='checked'] {
    background: hsl(var(--primary));
  }

  &[data-state='unchecked'] {
    background: hsl(var(--input));
  }

  &__thumb {
    pointer-events: none;
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 9999px;
    background: hsl(var(--background));
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
    ring: 0;
    transition: transform 0.2s;

    &[data-state='checked'] {
      transform: translateX(1.25rem);
    }

    &[data-state='unchecked'] {
      transform: translateX(0);
    }
  }
}
