/**
 * Checkbox Component Styles
 */

.mdk-checkbox {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  border: 1px solid hsl(var(--primary));
  ring-offset: hsl(var(--background));

  &:focus-visible {
    outline: none;
    ring: 2px solid hsl(var(--ring));
    ring-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[data-state='checked'] {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }

  &__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: currentColor;
  }
}
